body {
    background-color: whitesmoke;
}

label {
    font-size: 0.7em;
}

.navbar {
    font-size: 1.0em;
    color: lightgray;
    padding: 0 0 ;
}

.bg-dark {
    background-color: lightslategray !important;
}

.navbar-dark .navbar-nav .nav-link {
    color: white;
}

.btn-sm {
    font-size: 0.7em;
}

.text-sm {
    font-size: 0.7em;
}

#remember-me-label {
    font-size: 0.7em;
}
